.gallery-card {
	width: 300px;
	padding: 2rem;
	background-color: #f0f0f0;
	border-radius: 5px;
	transition: all 0.2s ease-out;

	&:hover {
		transform: scale(1.05);
	}

	&:active {
		transform: scale(1);
	}

	&__title {
		text-align: center;
		font-size: 2rem;
	}

	&__image {
		width: 100%;
	}
}
